@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.MuiInputBase-root:hover,
.MuiInputBase-root:focus {
	outline: 1px solid #7c5dfa;
}

.dark .MuiInputBase-input {
	color: #f8f8fb;
}

.MuiPaper-root {
	margin-top: 1rem;
}

.MuiMenuItem-root {
	border-bottom: 1px solid #f8f8f8;
}

.dark .MuiMenuItem-root {
	border-bottom: 1px solid #1e2139;
}

.MuiMenuItem-root:nth-last-of-type(1) {
	border-bottom: none;
}

.MuiSvgIcon-root {
	width: 0.9375rem;
	height: 0.9375rem;
	color: #7c5dfa;
}

.MuiSelect-icon {
	color: #7c5dfa;
	height: 50%;
}

.MuiOutlinedInput-root,
.MuiOutlinedInput-input,
.MuiSelect-outlined,
.MuiInputBase-input  {
	border: none;
}

.MuiInputBase-input,
.MuiDayCalendar-weekDayLabel,
.MuiPickersCalendarHeader-label,
.Mui-selected,
.MuiButtonBase-root,
.MuiPickersDay-today,
.MuiPickersDay-root {
	font-size: 0.9375rem;
	line-height: 0.9375rem;
	letter-spacing: -0.25px;
	font-weight: bold;
	color: #0c0e16;
	font-family: 'LeagueSpartan' sans-serif;
	padding: 0.75rem;
	cursor: pointer;
}

.dark .MuiMenuItem-root:focus,
.dark .MuiMenuItem-root:hover {
	color: #7c5dfa !important;
}

.dark .MuiButtonBase-root,
.dark .MuiList-root,
.dark .MuiDayCalendar-weekDayLabel,
.dark .MuiPickersCalendarHeader-label,
.dark .MuiPickersDay-root,
.dark .MuiPickersSlideTransition-root,
.dark .MuiDayCalendar-header,
.dark .MuiPickersCalendarHeader-root,
.dark .MuiDateCalendar-root {
	background: #252945 !important;
	color: #f8f8fb !important;
}

.MuiSelect-select {
	display: flex;
	align-items: center;
}

.MuiMenuItem-root:hover,
.MuiMenuItem-root:focus {
	color: #7c5dfa;
	background: transparent;
}

.MuiPickersDay-dayWithMargin:hover,
.MuiPickersDay-dayWithMargin:focus {
	color: #7c5dfa !important;
}

.MuiPickersDay-dayWithMargin {
	background-color: transparent !important;
	color: #0c0e16 !important;
	font-weight: bold !important;
}

.MuiPickersDay-dayOutsideMonth {
	color: #dfe3fa !important;
}

@layer base {
	body {
		@apply bg-light-200 dark:bg-dark-300 font-sans;
	}
}

.field {
	@apply text-dark-400 text-md/1 p-4 border rounded w-full dark:bg-dark-100 dark:text-light-200 dark:border-transparent hover:cursor-pointer hover:outline hover:outline-1 hover:outline-primary-200
}

.label {
	@apply text-neutral-500 text-base/2 pb-1
}

#root {
	z-index: 1
}

#modal {
	z-index: 2
}

